<footer class="footer bg-light py-3 border-top rounded-top-4 mb-0">
  <div class="container-md d-flex  flex-md-row justify-content-between align-items-center">

    <!-- Left: Logo -->
    <div class=" fw-bold fs-4  mb-md-0" style="color:#3659A2;">
      <img src="logo.png" style= "width:100px; height:80px;"  alt="logo">
    </div>

    <!-- Right: Links -->
    <ul class="nav  flex-sm-row text-center text-sm-start mb-0">
      <li class="nav-item">
        <a class="nav-link footer-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link footer-link " href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link footer-link" href="#">FAQ's</a>
      </li>
    </ul>

  </div>
</footer>
