<div class="container-fluid">
  <div class="row min-vh-100 flex-column flex-md-row">
    <div class="col-12 col-md-3 bg-primary text-white p-3 d-flex flex-column align-items-center" style="border-radius: 0 20px 20px 0;">
      <div class="text-center mb-3">
        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" width="80" alt="Profile Image" class="mb-2 rounded-circle bg-white p-2">
        <h5 class="fw-bold">JOB SEEKER</h5>
      </div>

      <ul class="nav flex-column w-100">
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/seeker']" routerLinkActive="active">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/seeker/applications']" routerLinkActive="active">Applications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/seeker/uploaded-resume']" routerLinkActive="active">Uploaded Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/seeker/saved-jobs']" routerLinkActive="active">Saved Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/seeker/view-applied-jobs']" routerLinkActive="active">View Applied Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/seeker/notifications']" routerLinkActive="active">Notifications</a>
        </li>
      </ul>
      <div class="mt-auto w-100">
        <ul class="nav flex-column w-100">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">
              <i class="bi bi-box-arrow-right me-2"></i> Log Out
            </a>
          </li>
        </ul>
      </div>

    </div>

    <div class="col-12 col-md-9 p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<form class="w-100" style="max-width: 700px;">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label>First Name</label>
      <input [readonly]="!isEditMode" type="text" class="form-control" placeholder="First Name">
    </div>

    <div class="col-md-6 mb-3">
      <label>Gender</label>
      <input [readonly]="!isEditMode" type="text" class="form-control" placeholder="Gender">
    </div>

    <div class="col-md-6 mb-3">
      <label>Last Name</label>
      <input [readonly]="!isEditMode" type="text" class="form-control" placeholder="Last Name">
    </div>

    <div class="col-md-6 mb-3">
      <label>Age</label>
      <input [readonly]="!isEditMode" type="number" class="form-control" placeholder="Age">
    </div>

    <div class="col-12 mb-3">
      <label>Registered Email</label>
      <input [readonly]="!isEditMode" type="email" class="form-control" placeholder="Email">
    </div>

    <div class="col-12 mb-3">
      <label>Registered Phone Number</label>
      <input [readonly]="!isEditMode" type="tel" class="form-control" placeholder="Phone Number">
    </div>

    <div class="col-12 mb-3">
      <label>Registered Password</label>
      <div class="input-group">
        <input [readonly]="!isEditMode" type="password" class="form-control" placeholder="Password">
        <span class="input-group-text"><i class="bi bi-eye-slash"></i></span>
      </div>
      <small class="text-primary" style="cursor: pointer;">Change Password</small>
    </div>

    <div class="col-12 mb-3">
      <label>Location</label>
      <div class="input-group">
        <input [readonly]="!isEditMode" type="text" class="form-control" placeholder="Location">
        <span class="input-group-text"><i class="bi bi-geo-alt"></i></span>
      </div>
    </div>

    <div class="col-12 mb-4">
      <label>Date of Birth</label>
      <div class="input-group">
        <input [readonly]="!isEditMode" type="text" class="form-control" placeholder="YYYY-MM-DD" />
        <span class="input-group-text"><i class="bi bi-calendar-date"></i></span>
      </div>
    </div>

    <div class="col-12 text-start">
      <button type="button" class="btn btn-outline-primary px-4" (click)="toggleEdit()">
        {{ isEditMode ? 'SAVE' : 'EDIT' }}
      </button>
    </div>
  </div>
</form>

