<div style="height:600px;background: #f3f3f3;">
<div class ="container ">
<app-filters-application
  [currentFilter]="filter"
  (filterChanged)="Changestatus($event)"
  (sortChanged)="SortChange($event)">
</app-filters-application>

<app-table-application  [applications]="paginatedApplicants"></app-table-application>
<div class="d-flex justify-content-center">
<app-pagination-application
  [pages]="totalPages()"
  [currentPage]="currentPage"
  (pageChanged)="onPageChange($event)">
</app-pagination-application></div>
</div>
</div>


