
<div class="container">
<div  >

  <table class="table table-responsive " style="border-radius: 10px; min-width:600px;">
    <app-header-reportedjobs></app-header-reportedjobs>
    <thead>

    <tr>
      <th class="rounded-start"> Title </th>
    <th>Position</th>
    <th>Type</th>
    <th>Reason</th>
    <th>Report Date</th>
    <th class="rounded-end">Actions</th>
    </tr>
    </thead>
    <tbody class="jobsTableBody"  >
    <app-reported-job> </app-reported-job>
    <app-reported-job> </app-reported-job>
    <app-reported-job> </app-reported-job>
    <app-reported-job> </app-reported-job>
    <app-reported-job> </app-reported-job>
    <app-reported-job> </app-reported-job>
    <app-reported-job> </app-reported-job>
    <app-reported-job> </app-reported-job>
    <app-reported-job> </app-reported-job>
    <app-reported-job> </app-reported-job>
    <app-reported-job> </app-reported-job>
    <app-reported-job> </app-reported-job>
    </tbody>
  </table>
</div>
</div>
