.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none; /* remove default white arrow */
  color: #3659A2;          /* set text color (won't work alone without adding content) */
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
  content: '‹'; /* left arrow */
  font-size: 2.5rem;
  color: #3659A2;
}

.carousel-control-next-icon::after {
  content: '›'; /* right arrow */
}
h2{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
