.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  color: #1B2A41;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
  content: '‹';
  font-size: 2.5rem;
  color: #1B2A41;
}

.carousel-control-next-icon::after {
  content: '›';
}
h2{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
}
