
<div class="job-card">
  <div class="job-card-header">

    <div class="company-logo">
      <img [src]="job.user.profile_img" [alt]="job.company + ' Logo'">
    </div>
  </div>

  <div class="job-card-body">
    <a *ngIf="job.id" [routerLink]="['/jobs', job.id]" routerLinkActive="active">
      <h2 class="job-title">{{ job.title }}</h2>
    </a>
    <p class="company-name">{{ job.company }}</p>

    <div class="job-meta">
      <div class="d-flex">
        <div class="views-info me-3">
          Salary: {{ job.salary }}
        </div>
        <div class="days-info">
          Location: {{ job.user.location }}
        </div>
      </div>
    </div>


  </div>
</div>



