



      <div class="job-card">
        <div class="job-card-header">
          <span class="badge-wfh">WFH</span>
          <div class="company-logo">
            <img src="/api/placeholder/40/40" alt="Company Logo">
          </div>
        </div>
        <div class="job-card-body">
          <a  [routerLink]="'job-details'" routerLinkActive="active" >
          <h2 class="job-title">Data Engineering Associate</h2>
        </a>
          <p class="company-name">Norstella</p>
          <div class="job-meta">
            <div class="d-flex">
              <div class="views-info me-3">

                salary
              </div>
              <div class="days-info">

               location
              </div>
            </div>
          </div>
        </div>





