<div style="height:600px; background: #f3f3f3;">
  <div class ="container"  >
    <app-filters-reported-jobs-admin
      [currentFilter]="filter"
      >
    </app-filters-reported-jobs-admin>

    <app-table-reported-jobs-admin [displayedreportedjobs]="paginatedreportedjobs"></app-table-reported-jobs-admin>
    <div class="d-flex justify-content-center">
      <app-pagination-reported-jobs-admin
        [pages]="totalPages()"
        [currentPage]="currentPage"
        (pageChanged)="onPageChange($event)">
      </app-pagination-reported-jobs-admin></div>
  </div>
</div>
