
.form-label {
  font-family: Georgia, 'Times New Roman', serif !important;
  color: #3659A2 !important;
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 2px !important;
}


.form-control.custom-input {
  border: 1px solid #3659A2 !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  color: #000;
}


.form-control.custom-input:focus {
  border-color: #3659A2 !important;
  outline: none !important;
  box-shadow: 0 0 0 0.1rem rgba(54, 89, 162, 0.25) !important;
}


.input-group-text {
  border: 1px solid #3659A2 !important;
  border-left: none !important;
  color: #3659A2 !important;
  background-color: transparent !important;
}

button.btn.btn-outline-primary {
  border-color: #3659A2 !important;
  color: #3659A2 !important;
}

button.btn.btn-outline-primary:hover {
  background-color: #3659A2 !important;
  color: white !important;
}
