<div class="container d-flex justify-content-between">
  <h4 class="fw-bold m-0">Applications</h4>
  <div class="filter d-flex flex-wrap gap-2">
    <button class="filter-btn" (click)="setFilter('all')" [ngClass]="{ 'active': currentFilter === 'all' }">All</button>
    <button class="filter-btn" (click)="setFilter('pending')" [ngClass]="{ 'active': currentFilter === 'pending' }">Pending</button>
    <button class="filter-btn" (click)="setFilter('rejected')" [ngClass]="{ 'active': currentFilter === 'rejected' }">Rejected</button>
    <button class="filter-btn" (click)="setFilter('accepted')" [ngClass]="{ 'active': currentFilter === 'accepted' }">Accepted</button>
  </div>

  <div class="dropdown">
    <button
      class="btn  dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false">
      Sort by
    </button>
    <ul class="dropdown-menu">
      <li><button class="dropdown-item" (click)="sortBy('newest')">Newest</button></li>
      <li><button class="dropdown-item" (click)="sortBy('oldest')">Oldest</button></li>
    </ul>
  </div>
</div>
