

<div class="row main-container">

<div class="col-md-3">
  <h2 class="fw-bold">
    Available jobs
    <span class="badge bg-secondary"> {{ filteredJobsCount }} of {{ jobCount }}</span>
  </h2>
</div>



<div class="card p-3 mb-3 col-md-9">
  <form (ngSubmit)="onSearch()">
    <div class="row g-2">
      <div class="col-md-2">
        <input type="text" class="form-control" placeholder="Title" [(ngModel)]="filters.title" name="title">
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control" placeholder="Location" [(ngModel)]="filters.location" name="location">
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control" placeholder="Skills" [(ngModel)]="filters.skills" name="skills">
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control" placeholder="Category" [(ngModel)]="filters.category" name="category">
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control" placeholder="Employment Type" [(ngModel)]="filters.employment_type" name="employment_type">
      </div>
      <div class="col-md-1">
        <button type="submit" class="btn btn-primary w-100">Search</button>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-secondary w-100" (click)="clear()">Clear</button>
      </div>
    </div>
  </form>
</div>
</div>