<article class="overflow-hidden">
  <div class="row align-items-center mt-4">

    <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start">
      <section class="hero w-100">
        <div class="hero-content">
          <p class="fw-bold">
            Your future team or career is just a few clicks away
          </p>
        </div>
      </section>
    </div>
    <div class="col-12 col-md-6 mb-2 d-flex justify-content-center align-items-center" >
      <img
        src="Job offers.png"
        alt="main"
        class="img-fluid w-75 object-fit-cover rounded-start-4"
      />
    </div>
  </div>
</article>
