<nav class="navbar navbar-expand-md bg-body-tertiary  border-bottom rounded-bottom-4  shadow-sm " >
  <div class="container-fluid ">

    <img src="Jobli-logo.png" style= "width:140px; height:90px;" class="navbar-brand ms-2 fs-2 " alt="logo">

    <div class=" mt-2 mt-md-0" >
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">

          <a class="nav-link active  fs-4 fw-bold" style=" font-size: 1.2rem;color:#1B2A41 ;" href="#" [routerLink]="'jobs'" routerLinkActive="active">Find a job</a>
        </li>

      </ul>
    </div>
    <div class=" d-flex align-items-center gap-3 ms-auto">

      <a [routerLink]="''" class="nav-link p-0 m-0">
        <i class="bi bi-bell-fill fs-3"></i>
      </a>
      <a [routerLink]="'seeker/profile'" class="nav-link p-0 m-0">
        <svg style="color: #1B2A41 " xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle me-2 fs-3" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg>
      </a>

    </div>

  </div>
</nav>
