<!-- Login Page -->
<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh; background-color: rgba(244,245,246,0.05);">
  <div class="row w-100 justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5" style="max-width: 80rem;">
      <div class="custom-modal-content p-4 pt-1" style="background-color: white; border: 4px solid #1B2A41; border-radius: 20px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">

        <div >
          <div class="header border-0 justify-content-center">
            <h2 class="fs-3 text-center w-100 mt-1 mb-4 fw-bold" id="loginModalLabel" style="color:#1B2A41;">
              <span style="color:#1B2A41;">Log into your account</span>
            </h2>
          </div>

          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

            <!-- Email -->
            <div class="row mb-3 ps-2 align-items-center">
              <label for="email" class="col-4 p-1 ps-md-5 pe-1 col-form-label fs-5 fw-bold" style="color:#1B2A41; white-space: nowrap;">
                Email
              </label>
              <div class="col-7 col-md-6">
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  class="form-control border-2 rounded-4 ms-md-3 ms-lg-0"
                  placeholder="You@gmail.com"
                />
                <div *ngIf="submitted && loginForm.get('email')?.errors" class="mt-1">
                  <small *ngIf="loginForm.get('email')?.errors?.['required']" class="text-danger">Email is required</small>
                  <small *ngIf="loginForm.get('email')?.errors?.['email']" class="text-danger">Enter a valid email</small>
                </div>
              </div>
            </div>

            <!-- Password -->
            <div class="row mb-3 ps-2 align-items-center">
              <label for="password" class="col-4 p-1 ps-md-5 pe-1 col-form-label fw-bold fs-5" style="color:#1B2A41; white-space: nowrap;">
                Password
              </label>
              <div class="col-7 col-md-6">
                <input
                  type="password"
                  id="password"
                  formControlName="password"
                  class="form-control border-2 rounded-4 ms-md-3 ms-lg-0"
                  placeholder="****"
                />
                <div *ngIf="submitted && loginForm.get('password')?.errors" class="mt-1">
                  <small *ngIf="loginForm.get('password')?.errors?.['required']" class="text-danger">Password is required</small>
                  <small *ngIf="loginForm.get('password')?.errors?.['minlength']" class="text-danger">Password must be 4 characters</small>
                </div>
              </div>
            </div>

            <!-- Forget Password Link -->
            <div class="d-flex justify-content-center align-items-center mb-3 fw-bold">
              <a routerLink="/resetPassword" class="text-decoration-none" style="color:#1B2A41;">Forget Password?</a>
            </div>

            <!-- Log In Button -->
            <div class="d-flex justify-content-center align-items-center">
              <button type="submit" class="btn px-4 py-2 fw-bold rounded-3" style="background-color: #FFC727;;">
                Log In
              </button>
            </div>
          </form>

          <div class="text-center mt-3 fw-bold">
            <p style="color:#1B2A41;">
              Don’t have an account?
              <a routerLink="/signup" class="fw-bolder text-decoration-none" style="color:#1B2A41;">Sign Up</a>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
