<article class="overflow-hidden">
  <div class="row align-items-center mt-4">
    <div class="col-12 col-md-6 mb-md-0" >
      <img
        src="Job hunt.png"
        alt="main"
        class="img-fluid w-100 h-auto object-fit-cover rounded-start-4"
      />
    </div>

    <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start">
      <section class="hero w-100 h-75 mb-0 ">
        <div class="hero-content">
          <h1 class="fw-bold">
            Find your <span class="highlight">dream Job</span>
          </h1>
          <p class="fw-bold">
            Thousands of Jobs at here. Find Your New Job Today! New Job Postings Everyday
          </p>
          <div>
            <button class="fw-bold">find a job</button>
          </div>

        </div>

      </section>

    </div>

  </div>
</article>
