<article class="overflow-hidden" >
  <div class="row align-items-center mt-4 pt-0 ">

    <!-- Image Section -->
    <div class="col-12 col-md-6  mb-4 mb-md-0 mt-0 pt-0">
      <img src="Job hunt-cuate.png" alt="main" class="img-fluid w-100 h-auto object-fit-cover rounded-start-4 " />
    </div>

    <!-- Text & Button Section -->
    <div class="col-12 col-md-6 text-center text-md-start px-4">
      <app-header-text class="fs-1 text-shadow" [headerText]="'Your Dream Job Is Waiting For You!'"></app-header-text>
      <div class="mt-4">
        <app-button class="d-flex justify-content-center align-items-center" text="find a job" [linkTo]="'find-job'" ></app-button>
      </div>
    </div>

  </div>
</article>
