
<div class="">
  <app-search-bar-jobs
    (locationChanged)="filterByLocation($event)"
    (searchChanged)="onSearchChanged($event)">
  </app-search-bar-jobs>
  <app-filters-admin-jobs
    (SortChange)=" SortChange($event)"
    [currentFilter]="filter"
    (filterChanged)="Changestatus($event)">

  </app-filters-admin-jobs>
<div class="row">
  <div *ngFor="let job of displayedJob" class="col-12 col-md-4 mb-4">
    <app-cards-admin-jobs
      [id]="job.id"
      [title]="job.title"
      [company]="job.user.name"
      [location]="job.user.location"
      [type]="job.employment_type"
      [date]="job.date"
      [salary]="job.salary"
      [imageUrl]="job.imageUrl"
      (deleteJob)="onDeleteJob($event)"

     >
    </app-cards-admin-jobs>
  </div>
</div>
</div>
