<main class=" rounded-3">
  <div class="  rounded-3">
    <div style=" height: 70%;" class="header d-flex justify-content-center align-items-center">
      <app-header-text [headerText]="'Are you sure you want to log out?'"></app-header-text>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <app-button class="d-inline-block  me-5 " text="Cancel" [linkTo]="'/seeker/profile'"></app-button>
      <app-button class=" d-inline-block  ms-5" text="Log out" [linkTo]="'logoutSuccess'"></app-button>
    </div>

  </div>
</main>
