<div class="container">
  <app-search-employer-jobs></app-search-employer-jobs>
  <app-filter-employer-jobs
    (sortChanged)=" SortChange($event)"
    [currentFilter]="filter"
    (filterChanged)="Changestatus($event)">
  </app-filter-employer-jobs>
  <div class="row">
    <div *ngFor="let job of displayedJob" class="col-12 col-md-4 mb-4">
      <app-card-employer-jobs
        [id]="job.id"
        [title]="job.job_title"
        [company]="job.company"
        [location]="job.location"
        [type]="job.type"
        [Date]="job.date"
        [salary]="job.salary"
        [imageUrl]="job.imageUrl"
        [linkcompany]="job.linkcompany"
      >
      </app-card-employer-jobs>
    </div>
  </div>
</div>
