<div class="card shadow-lg d-flex flex-column "
     style="color: #1F2F44; border-radius: 20px; font-size: 1.1rem; padding: 20px;height: auto; min-height: 250px; width: 100%;">


  <div class="d-flex align-items-start">
    <img  [src]="imageUrl" alt="logo" style="margin-right: 15px;" width="80" height="auto">
    <div>
      <a [routerLink]="['/jobs', +id]" style=" color: #1F2F44;text-decoration: none;">
        <h4 class="card-title fw-bold m-0" style="font-size: 1.3rem;">{{ title }}</h4></a>
      <a class=" text-muted" style=" text-decoration: none;" > <p class="text-muted mb-1">{{ company }}</p></a>
    </div>
  </div>


  <div class=" text-muted">
    <div class="mb-2 d-flex align-items-center"><i class="bi bi-geo-alt me-2"></i>  {{ location }}</div>
    <div class="mb-2 d-flex align-items-center"><i class="bi bi-clock me-2"></i> {{ type }}</div>
    <div class="mb-2 d-flex align-items-center"><i class="bi bi-calendar3 me-2"></i> {{ date }}</div>
    <div class="mb-2 d-flex align-items-center"><i class="bi bi-cash-stack me-2"></i> {{ salary }}</div>
  </div>
</div>
