<div  >
  <div class="d-flex flex-inline  justify-content-between align-items-center " style=" color:#1F2F44;border-radius: 10px;">
    <h4 class="mb-0 fw-bold">Repored jobs</h4>
    <div class="dropdown">
      <button
        class="btn btn-outline-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        All
      </button>
      <ul class="dropdown-menu">
        <li><button class="dropdown-item" (click)="sortBy('newest')">Newest</button></li>
        <li><button class="dropdown-item" (click)="sortBy('oldest')">Oldest</button></li>
      </ul>
    </div>
</div>
</div>
