<div style="height:600px;background: #f3f3f3;">
<div class ="container ">
  <app-filters-applied-job
    [currentFilter]="filter"
    (filterChanged)="Changestatus($event)"
    (sortChanged)="SortChange($event)">
  </app-filters-applied-job>

  <app-table-applied-jobs  [displayedApplied]="paginated"
                           (jobRemoved)="removeJob($event)">

  </app-table-applied-jobs>
  <div class="d-flex justify-content-center">
    <app-pagination-applied-jobs
      [pages]="totalPages()"
      [currentPage]="currentPage"
      (pageChanged)="onPageChange($event)">
    </app-pagination-applied-jobs>
  </div>
</div>
</div>
