<div class=" container mt-4 ">
  <app-search-bar></app-search-bar>
</div>
<div class="container-fluid mt-1">

  <div class=" container ">
    <h1>Available jobs</h1>
   <div class="jobs-number"><span>9</span></div>

  </div>


  <div class="jobs-container">

   <app-card></app-card>
   <app-card></app-card>
   <app-card></app-card>
   <app-card></app-card>
   <app-card></app-card>
   <app-card></app-card>
   <app-card></app-card>
   <app-card></app-card>
   <app-card></app-card>
 </div>
</div>


