<div class="container">
  <div  >

    <table class="table table-responsive " style="border-radius: 10px; min-width:600px;">
      <app-header-savedjob></app-header-savedjob>
      <thead>

      <tr>
        <th class="rounded-start">Premium jobs</th>

        <th>Job Type</th>
        <th>Date</th>
        <th>Employee</th>

        <th class="rounded-end">Actions</th>
      </tr>
      </thead>
      <tbody id="jobsTableBody">
      <app-row-job></app-row-job>
      <app-row-job> </app-row-job>
      <app-row-job> </app-row-job>
      <app-row-job> </app-row-job>
      <app-row-job> </app-row-job>
      <app-row-job> </app-row-job>
      <app-row-job> </app-row-job>
      <app-row-job> </app-row-job>

      </tbody>
    </table>
  </div>
</div>
