<div class="sidebar" [ngClass]="{ 'show-sidebar': sidebarVisible || !isMobileScreen }">
  <ul class="nav flex-column sidebar-menu">

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Employer/Profile']" routerLinkActive="active-tab">
        <i class="bi bi-person-circle"></i>
        <span class="link-text">Profile</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Employer/dashboard']" routerLinkActive="active-tab">
        <i class="bi bi-speedometer2"></i>
        <span class="link-text">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Employer/view-candidates']" routerLinkActive="active-tab">
        <i class="bi bi-people"></i>
        <span class="link-text">View Candidates</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Employer/candidates-history']" routerLinkActive="active-tab">
        <i class="bi bi-clock-history"></i>
        <span class="link-text">Candidates History</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Employer/manage-candidates']" routerLinkActive="active-tab">
        <i class="bi bi-person-badge"></i>
        <span class="link-text">Manage Candidates</span>
      </a>
    </li>

    <li class="nav-item">

      <a class="nav-link" [routerLink]="['/Employer/employer-jobs']" routerLinkActive="active-tab">

        <i class="bi bi-file-earmark-text"></i>
        <span class="link-text">Posted Jobs</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Employer/monthly-reports']" routerLinkActive="active-tab">
        <i class="bi bi-bar-chart-line"></i>
        <span class="link-text">Monthly Reports</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Employer/Notifications']" routerLinkActive="active-tab">
        <i class="bi bi-bell"></i>
        <span class="link-text">Notifications</span>
      </a>
    </li>

    <li class="nav-item logout">
      <a class="nav-link" routerLink="/logout">
        <i class="bi bi-box-arrow-right"></i>
        <span class="link-text">Log Out</span>
      </a>
    </li>

  </ul>
</div>

<button class="toggle-sidebar-btn" (click)="toggleSidebar()">
  <i class="bi" [ngClass]="sidebarVisible ? 'bi-x-lg' : 'bi-list'"></i>
</button>

<div class="sidebar-overlay" *ngIf="sidebarVisible && isMobileScreen" (click)="toggleSidebar()"></div>
