<div class="sidebar" [ngClass]="{ 'show-sidebar': sidebarVisible || !isMobileScreen }">
  <ul class="nav flex-column sidebar-menu">

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Seeker/Profile']" routerLinkActive="active-tab">
        <i class="bi bi-person-circle"></i>
        <span class="link-text">Profile</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['application-status']" routerLinkActive="active-tab">
        <i class="bi bi-card-list"></i>
        <span class="link-text">Applications</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Seeker/favorite-jobs']" routerLinkActive="active-tab">
        <i class="bi bi-bookmark"></i>
        <span class="link-text">saved Jobs</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Seeker/applied-jobs']" routerLinkActive="active-tab">
        <i class="bi bi-clock-history"></i>
        <span class="link-text">View Applied Jobs</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Seeker/Notifications']" routerLinkActive="active-tab">
        <i class="bi bi-bell"></i>
        <span class="link-text">Notifications</span>
      </a>
    </li>

    <li class="nav-item logout">
      <a class="nav-link" routerLink="/logout">
        <i class="bi bi-box-arrow-right"></i>
        <span class="link-text">Log Out</span>
      </a>
    </li>

  </ul>
</div>

<button class="toggle-sidebar-btn" (click)="toggleSidebar()">
  <i class="bi" [ngClass]="sidebarVisible ? 'bi-x-lg' : 'bi-list'"></i>
</button>

<div class="sidebar-overlay" *ngIf="sidebarVisible && isMobileScreen" (click)="toggleSidebar()"></div>
