<div class="card-hover shadow-lg position-relative d-flex flex-column mt-3"
     style="color: #3E61A6; border-radius: 10px; font-size: 0.85rem; padding: 15px; height: auto; min-height: 200px;">

  <a href="#" style="color: #3E61A6;">
    <h5 class="fw-bold" style="font-size: 1rem;">{{ title }}</h5>
  </a>

  <div class="mb-2 mt-1">
    <div class="mb-1 d-flex align-items-center"><i class="fas fa-building me-2"></i> <span>{{ company }}</span></div>
    <div class="mb-1 d-flex align-items-center" style="color:#3E61A6;"><i class="fas fa-map-marker-alt me-2"></i> <span>{{ location }}</span></div>
    <div class="mb-1 d-flex align-items-center" style="color: #3E61A6;"><i class="fas fa-clock me-2"></i><span>{{ type }}</span></div>
    <div class="mb-1 d-flex align-items-center" style="color: #3E61A6;"><i class="fas fa-calendar-alt me-2"></i><span>{{ Date }}</span></div>
    <div class="mb-1 d-flex align-items-center" style="color: #3E61A6;"><i class="fas fa-money-bill-wave me-2"></i>{{ salary }}</div>
  </div>

</div>

