<div class="container shadow rounded mt-3 table-responsive" style="background: #FFFFFF; ">
  <table class="table rounded align-middle text-center" style="color:#1F2F44;">
    <thead >
    <tr>
      <th>Job Title</th>
      <th>Job Type</th>
      <th>Employer</th>
      <th>Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let JobApplied of displayedApplied">

      <td >
        <a href="#" class="text-dark text-decoration-none">{{ JobApplied.jobTitle }}</a>
      </td>

      <td >{{ JobApplied.type }}</td>

      <td >
        <a href="#" class=" text-decoration-none d-flex align-items-center justify-content-center" style="color:#1F2F44;">
          <img [src]="JobApplied.imageUrl" alt="logo" class="rounded me-2" width="40" height="40" />
          {{ JobApplied.companyName}}
        </a>
      </td>
      <td >{{ JobApplied.date }}</td>

      <td>
      <span class="badge px-3 py-2" [ngClass]="getStatus(JobApplied.status)">
        {{ JobApplied.status }}
      </span>
      </td>
      <td><button (click)="removeJob(JobApplied.id)"
                  class="btn btn-sm " style="background: #F4B400;color: #FFFFFF;">
        <i class="fas fa-trash"></i>
      </button>
       </td>
    </tr>

    </tbody>

  </table>
</div>
