.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 12px;
}

.page-item-group {
  display: flex;
  gap: 0;
}

.page-item-group .page-item .page-link {
  padding: 8px 14px;
  border: 1px solid #1F2F44;
  border-right: none;
  background-color:  #f3f3f3;
  color: #1F2F44;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.page-item-group .page-item:first-child .page-link {
  border-radius: 20px 0 0 20px;
}

.page-item-group .page-item:last-child .page-link {
  border-right: 1px solid #1F2F44;
  border-radius: 0 20px 20px 0;
}

.page-item-group .page-item.active .page-link {
  background-color: #F4B400;
  color: white;
  border-color: #F4B400;
  font-weight: bold;
}


.pagination .nav-button .page-link {
  padding: 8px 14px;
  border: 1px solid #1F2F44;
  border-radius: 20px;
  background-color:  #f3f3f3;
  color: #1F2F44;
  font-weight: 600;
  text-decoration: none;
}

.page-link:hover {
  background-color: #f3f3f3;
}
