<main class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh; background-color: rgba(244,245,246,0.05);">
  <div class="row w-100 justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6" style="max-width: 42rem;">
      <div class="custom-modal-content p-4 pt-3" style="background-color: white; border: 4px solid #1B2A41; border-radius: 20px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">

        <!-- Header -->
        <div class="d-flex justify-content-center align-items-center mb-4">
          <h2 class="fs-3 text-center w-100 mt-1 mb-4 fw-bold" style="color:#1B2A41;">Change Password</h2>
        </div>

        <!-- Form Starts -->
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" novalidate>

          <!-- Current Password -->
          <div class="row align-items-center my-3">
            <label class="col-12 col-sm-4 col-form-label fw-bold text-sm-end text-start" style="color:#1B2A41;">
              Current Password
            </label>
            <div class="col-12 col-sm-6">
              <input type="password" formControlName="currentPassword" class="form-control border-2 rounded-4" placeholder="****" />
              <div *ngIf="submitted && changePasswordForm.get('currentPassword')?.errors?.['required']" class="text-danger small ps-1 mt-1">
                Current password is required.
              </div>
            </div>
          </div>

          <!-- New Password -->
          <div class="row align-items-center my-3">
            <label class="col-12 col-sm-4 col-form-label fw-bold text-sm-end text-start" style="color:#1B2A41;">
              New Password
            </label>
            <div class="col-12 col-sm-6">
              <input type="password" formControlName="newPassword" class="form-control border-2 rounded-4" placeholder="****" />
              <div *ngIf="submitted && changePasswordForm.get('newPassword')?.errors?.['required']" class="text-danger small ps-1 mt-1">
                New password is required.
              </div>
              <div *ngIf="submitted && changePasswordForm.get('newPassword')?.errors?.['minlength']"
                   class="text-danger small ps-1 mt-1">
                New password must be at least 8 characters
              </div>
            </div>
          </div>

          <!-- Confirm Password -->
          <div class="row align-items-center my-3">
            <label class="col-12 col-sm-4 col-form-label fw-bold text-sm-end text-start" style="color:#1B2A41;">
              Confirm Password
            </label>
            <div class="col-12 col-sm-6">
              <input type="password" formControlName="confirmPassword" class="form-control border-2 rounded-4" placeholder="****" />
              <div *ngIf="submitted && changePasswordForm.get('confirmPassword')?.errors?.['required']" class="text-danger small ps-1 mt-1">
                Please confirm your new password.
              </div>
              <div *ngIf="submitted && changePasswordForm.get('confirmPassword')?.errors?.['mismatch']" class="text-danger small ps-1 mt-1">
                Passwords must match.
              </div>
            </div>
          </div>

          <!-- Buttons -->
          <div class="mt-4 text-center">
            <a routerLink="/resetPassword" class=" d-block mb-3 text-decoration-none fw-bold" style="color:#1B2A41;">Forget Password?</a>
            <button type="submit" class="btn px-4 py-2 fw-bold rounded-3" style="background-color: #FFC727; color: #1B2A41;">
              Save
            </button>
          </div>

        </form>

      </div>
    </div>
  </div>
</main>
