<div class="d-flex align-items-center p-2 px-4 shadow-sm rounded-pill bg-white flex-wrap gap-2">

  <i class="fas fa-map-marker-alt text-purple me-2"></i>

  <div class="dropdown">
    <button
      class="btn btn-light dropdown-toggle fw-semibold p-0 border-0 bg-transparent shadow-none"
      type="button"
      id="cityDropdown"
      data-bs-toggle="dropdown"
      aria-expanded="false">
      Around You
    </button>

    <ul class="dropdown-menu" >
      <li><a class="dropdown-item" >Ramallah</a></li>
      <li><a class="dropdown-item" href="#">Gaza</a></li>
      <li><a class="dropdown-item" href="#">Nablus</a></li>
      <li><a class="dropdown-item" href="#">Hebron</a></li>
      <li><a class="dropdown-item" href="#">Bethlehem</a></li>
    </ul>
  </div>

  <i class="bi bi-chevron-down ms-2 text-muted small"></i>

  <input
    type="text"
    class="form-control border-0 shadow-none"
    placeholder="Search by Title, Company "
    style="flex: 1; min-width: 200px;" />

  <button class="btn rounded-pill ms-2 d-flex align-items-center px-4">
    <i class="bi bi-search me-2"></i>
    FIND
  </button>

</div>
