<div class=" d-flex align-items-center p-2 px-4 shadow-sm rounded-pill bg-white">

  <div class="location d-flex align-items-center me-3">
    <i class="fas fa-map-marker-alt text-purple me-2" style="color: #1F2F44;"></i>
    <span class="fw-semibold">Around You</span>
    <i class="fas fa-chevron-down ms-2 text-muted small"></i>
  </div>


  <input type="text"

         class="form-control border-0 shadow-none"
         placeholder="Search by Title, Company"
         style="flex: 1;min-width: 200px;">



  <button class="btn  rounded-pill ms-2 d-flex align-items-center px-4" style="color: #FFFFFF;background: #F4B400;"
          >
    <i class="fas fa-search me-2" style="color: #FFFFFF;"></i>
    FIND
  </button>
</div>
