<div class="header py-3" style="min-width: 600px;">
  <div class="d-flex flex-inline justify-content-between align-items-center mb-2 px-3 py-2" style="background: #E6EEFF; color:#3E61A6;border-radius: 10px;">
    <h1 class="m-0" style="color: #3E61A6; font-size: 16px;">Saved Jobs</h1>
    <div class="filters d-flex align-items-center">
      <label for="dateRange" class="me-2 mb-0 " style="color: #3E61A6;">filters by freshness</label>
      <select id="dateRange" class="form-select form-select-sm" style="min-width: 140px;">
        <option value="all">All</option>
        <option value="30">Last 30 Days</option>
        <option value="180">Last 6 Months</option>
        <option value="365">Last Year</option>
      </select>
    </div>
  </div>
</div>

